html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 415px) {
  body {
    margin: 11px;
  }
  header {
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
    align-items: center;
    margin: 0px;
    background-color: grey;
    color: white;
    padding: 10px;
  }

  .aside-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aside-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content > h1 {
    display: flex;
    font-size: 25px;
  }

  .main-content > p {
    font-size: 25px;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 1025px) and (min-width: 415px) {
  body {
    margin: 35px;
  }
  header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: plum;
    color: white;
    padding: 0px;
  }

  .aside-one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  .aside-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
  }

  .main-content > h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
  }

  .main-content > p {
    font-size: 35px;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    flex-flow: column wrap;
  }
}

@media screen and (min-width: 1025px) {
  body {
    margin: 55px;
  }
  header {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: peru;
    color: white;
    padding: 10px;
  }

  .aside-one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    font-size: 28px;
    width: 600px;


  }

  .aside-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    font-size: 28px;
    width: 600px;

  }

  .main-content > h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    /* width: 600px; */ 
  }

  .main-content > p {
    font-size: 35px;
    /* width: 75%;
    width: 600px; */

  }

  footer {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    flex-flow: column wrap;
  }
}